<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>
    <form action="/madlib">
        Person? <input type="text" name="firstname" value="name"><br><br>
        Color? <select name="color">
            <option value="red">red</option>
            <option value="yellow">yellow</option>
            <option value="blue">blue</option>
        </select><br><br>

        Noun? <input type="text" name="noun" value="noun"><br><br>
        Adjective? <input type="text" name="adjective" value="adjective"><br><br>
        Verb? <input type="text" name="verb" value="verb"><br><br>
        Emotion? <input type="text" name="emotion" value="emotion"><br><br>
        
        <input type="submit">
    </form>

</body>
</html>