<!doctype html>
<html>
<head>
    <style type="text/css">
        body {
        background-image: url("../static/food.jpg");
        
    /*background-image: url("~/src/madlibs/static/hogwarts.png");
    background-repeat: repeat;*/
        }

        .boxed {
            border: 1px solid green ;
            background-color: gold ;
            padding: 20px 50px 20px 50px;
            margin: 20px auto;
            width: 500px
        } 

  </style>
  
  <title>Madlib Game</title>
</head>
<body>
    <div class="boxed">
    <h3>Our school cafeteria has really {{ adjective }} food.  It makes my stomach {{ verb }}.  I always feel {{ emotion }} after eating.  One day, I swear one of my meatballs started to turn {{ color }}! The turkey tacos are totally weird and look kind of like old shoes.  My {{ person }} said he'd make my lunches, but the first day, they made me a sandwich out of {{ noun }} and peanut butter! I think I'd rather take my chances with the cafeteria!</h3>
    </div>
</body>
</html>