<!doctype html>
<html>
<head>
    <style type="text/css">
        body {
        background-image: url("../static/xmas.jpg");
        
    /*background-image: url("~/src/madlibs/static/hogwarts.png");
    background-repeat: repeat;*/
        }

        .boxed {
            border: 1px solid green ;
            background-color: IndianRed ;
            padding: 20px 50px 20px 50px;
            margin: 20px auto;
            width: 500px
        } 

        h3  {
            color: DarkGreen;

        }

  </style>

  <title>Madlib Game</title>
</head>
<body>
    <div class="boxed">
     <h3>{{ person }} really wanted a {{ noun }} for Christmas.  It would be the best present ever if they got a {{ color }} one.  Joy of joys, they got the {{ color }} {{ noun }} they wanted!  However, the {{ noun }} turned out to be {{ adjective }}, so {{ person }} was sad.</h3>
     </div>
</body>
</html>