<!doctype html>
<html>
<head>
  <style type="text/css">
        body {
        background-image: url("../static/harry_potter_logos_wallpaper.jpg");
        }

        .boxed {
            border: 1px solid green ;
            background-color: pink ;
            padding: 20px 50px 20px 50px;
            margin: 20px auto;
            width: 500px
            
        }

        h3 {
            color: darkgreen;
        }
  </style>
 
  <title>Madlib Game</title>
</head>
<body>
    <div class="boxed">
    <h3>Welcome to Hogwarts, {{ person }}!  You are going to embark on a(n) {{ adjective }} adventure.  Be sure to pack your {{ noun }}, and to {{ verb }} the giant squid!  It's okay to feel {{ emotion }} on your first day.  You will be sorted into your house, so your whole world will be {{ color }}.  Yer a wizard!</h3>
    </div>
</body>
</html>